In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
data= pd.read_csv("Placement.csv")
data.shape

(215, 15)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
sl_no             215 non-null int64
gender            215 non-null object
ssc_p             215 non-null float64
ssc_b             215 non-null object
hsc_p             215 non-null float64
hsc_b             215 non-null object
hsc_s             215 non-null object
degree_p          215 non-null float64
degree_t          215 non-null object
workex            215 non-null object
etest_p           215 non-null float64
specialisation    215 non-null object
mba_p             215 non-null float64
status            215 non-null object
salary            148 non-null float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [9]:
data.dtypes

sl_no               int64
gender             object
ssc_p             float64
ssc_b              object
hsc_p             float64
hsc_b              object
hsc_s              object
degree_p          float64
degree_t           object
workex             object
etest_p           float64
specialisation     object
mba_p             float64
status             object
salary            float64
dtype: object

In [10]:
data.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

In [22]:
#Create a function to split the Quantative & Qualitative variables
data["gender"].dtype

dtype('O')

In [32]:

quantative=[]
qualitative=[]
for columnNames in data.columns:
    #print("for loop",columnNames)
    if(data[columnNames].dtype=='O'):
        quantative.append(columnNames)
    else:
        qualitative.append(columnNames)

In [59]:
qualitative

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [52]:
def quanQual(data):
    quant=[]
    qual=[]
    for columnNames in data.columns:
        #print("for loop",columnNames)
        if(data[columnNames].dtype=='O'):
            qual.append(columnNames)
        else:
            quant.append(columnNames)
    return  quant,qual

In [53]:
quant,qual=quanQual(data)

In [54]:
quant

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [55]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

In [63]:
from quanqualSplit import userDS
quant,qual= userDS.quanQual(data)

In [64]:
quant

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [65]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']